.array-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 50px; 
    left: 100px;
}

.bars {
    display: flex;
    align-items: flex-end; 
}

.array-bar {
    width: 10px;
    background-color: black;
    margin: 0 2px;
}
